<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/main.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <title>Blogify</title>
</head>
<body>
    <header>

        <div class="nav-bar">
            <ul class="horizontal header-ul">
                <li style="font-size: 40px;margin-left: 10px;" class="dm-sans-bold"><a href="/" id="website-title"><img src="/images/postman.png" class="website-img">  <span style="text-decoration: underline;"> Blogify</span>Hub.com</a></li>
                
                <li style="margin-top: 33px; font-size: 20px; margin-left: 15px;" class="dm-sans-medium"><a href="/" class="header-btn">Home</a></li>
                <li style="margin-top: 33px; font-size: 20px;" class="dm-sans-medium"><a href="/create" class="header-btn">Create Post</a></li>
                

              </ul>
        </div>

    </header>

    <main>
    